body {
	background-image: url('/static/images/background_gradient.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

input[type=text] {
	padding: 5px;
	font-size: 15px;
}
input[type=password] {
	padding: 5px;
	font-size: 15px;
}
textarea {
	
}
a {
	text-decoration: none;
	font: comic-sans;
}
.logo {
	color: green;
	font-size: 80px;
	font: comic-sans;
	margin-left: 100px;
}

.header-link {
	margin-right: 20px;
	text-decoration: none;
	color: #AAAABB;
	font-family: good_times;
	font-size: 20px;
}


.error {
	color: red;
	font-size: 20px;
}

.input-title {
	font-size: 22px;
}

.welcome {
	font-size: 30px;
	color: gray;
}

.welcome-user {
	font-size: 20px;
	color: #AAAACC;
	float: right;
}
li.user {
	font-size: 25px;
	font-family: good_times;
	margin-right: 20px;
}
.slogan {
	font-size: 20px;
	color: green;
	position: absolute;
	left: 90px;
}

#body {
	margin-left: 100px;
	margin-top: 50px;
	padding: 20px;
	margin-left: 70px;
}

#clock {
	color: #AAAA88;
	font-size: 20px;
	position: absolute;
	right: 15px;
	top: 15px;
}

#bid-box {
	color: green;
}

ul.navigation
{
	list-style: none;
	white-space: nowrap;
	margin-top: 225px;
}

ul.navigation li
{
	display:inline;
}

ul.users
{
	list-style: none;
}

ul.users li
{
	display: inline;
}

@font-face {
	font-family: good_times;
	src: url("good_times_font.ttf")
}

img#left-bar {
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: -2;
}
img#right-bar {
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: -2;
}
img#banner {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}
