html {
	/*background-color: #bababa;*/
	background-color: #c3c4cc;
	height: 100%;
}
body {
	height: 100%;
}
a {
	color: blue;
	text-decoration: none;
}

p, h1, h2, h3, a, li, span {
	font-family: Tahoma, sans-serif;
}
.recent {
    color: green;
}
.veryrecent {
    color: green;
    border: 2px solid green;
    border-radius: 2px;
    padding: 0 5px 0 5px;
}
#body {
	width: 1000px;
	height: 100%;
	/*background-image: url("/static/images/background.png");*/
	background-color: #f4f7ff;
	margin-top: 73px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
	/* graphics */
	/*box-shadow: 0px 0px 30px;*/
	overflow-y: auto;
	overflow-x: visible;
}

/* simple positions */
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
/* display */
.user-box {
	float: left;
	margin-right: 30px;
	font-family: monospace;
	font-size: large;
}
ul.nobullet {
	list-style: none;
}
.error {
	color: red;
}
.success {
	color: green;
}
.hidden {
	display: none;
}

/* graphics */
.balloon {
	margin-top: 20px;
	/* border */
	border-left: 2px solid #adadad;
	/* graphics */
	padding: 15px;
	z-index: 1;
}
.balloon-dynamic:hover {
	transform: scale(1.25,1.25);
	-webkit-transform: scale(1.25, 1.25);
	-ms-transform: scale(1.25, 1.25);
	box-shadow: 0px 0px 40px;
	z-index: 10;
}

.navigation {
	background-color: #83be78;
	width: 100%;
	margin: 0;

}

/* specific classes */
ul.navigation {
	position: absolute;
	top: 0px;
	left: 0px;
	list-style: none;
	white-space: nowrap;
}
ul.navigation > li {
	display: inline;
	margin-left: 40px;
	font-size: 1.1em;
}
ul.navigation > li > a {
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	color: #f4f7ff;
}

#header {
	background-color: #83be78;
}

.logo-item ~ li {
	position: relative;
	bottom: 20px;
}

.welcome {
	color: gray;
	font-size: 1.2em;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
}

#notifications {
	font-family: Tahoma, sans-serif;
}

.received-message {
	border-left: 2px solid #adadad;
	padding-left: 15px;
}

.message_time {
	text-align: center;
}

.sent-message {
}

.message-field-wrapper {
	height: 300px;
}
.receivers {
	display: none;
}
.profile-box {
	margin-right: 50px;
	margin-bottom: 50px;
	width: 300px;
	min-height: 4em;
}

#inbox {
	font-family: Tahoma, sans-serif;
	color: #515151;
}

.message-content {
	white-space: pre-wrap;
	word-break: break-all;
	padding: 0 10px 0 10px;
	font-family: Tahoma, sans-serif;
	color: #515151;

	/* for webkit */
	word-break: break-word;
}
.content-cell ~ td {
	width: 60px;
	font-family: Tahoma, sans-serif;
}

.message-info {
	font-family: Tahoma, sans-serif;
	color: #515151;
}

}
.message-table {
	font-family: sans-serif;
	text-align: center;
}

/* IDs */
#markup-help {
	display: none;
	width: 380px;
}
#flag {
	cursor: pointer;
}
#item-header {
	width: 400px;
	word-break: break-all;

	/* for webkit */
	word-break: break-word;
}
/* fonts */
@font-face {
	font-family: blair;
	src: url("343.ttf");
}
