{% extends "base_page.html" %}

{% block content %}
<p>
Mondays is a webapp created by Harrison Hunter using Python and Google App Engine.<br>
I created this site using what I learned from a <a href="http://www.udacity.com">Udacity</a> course on 
<a href="http://www.udacity.com/overview/Course/cs253/CourseRev">Web Application Programming</a>.<br>
I've really enjoyed creating this site so I hope you enjoy using it.
</p>

<b>Sponser list:</b>
Many thanks to the below people who contributed to getting Mondays off the ground!
<br>
<ul>
	{% for name in sponsers %}
		<li>{{name}}<li><br>
	{% endfor %}
</ul>

{% endblock %}
