{% extends "base_homepage.html" %}

{% block content %}

<form method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<td>Item Title</td><td><input type="text" name="title" value="{{title}}"/></td>
		</tr>
		<tr>
			<td>Description</td><td><textarea cols=50 rows=25 name="description" wrap="hard">{{desc}}</textarea></td>
		</tr>
		<tr>
			<td>Start Price</td>
			<td><label>$<input type="text" name="startprice" value="{{price}}"/></label></td>
		</tr>
		<tr>
			<td>Shipping Price (optional)</td>
			<td><label>$</label><input type="text" name="shipprice" value="{{shipprice}}"/></td>
		</tr>
		<tr>
			<td>Shipping Options</td>
			<td>
				<select name="localpickup">
					<option {% ifequal local_pickup "off" %} selected="selected" {% endifequal %} value="off">Only allow shipping</option>
					<option {% ifequal local_pickup "on" %} selected="selected" {% endifequal %} value="on">Allow local pickup as well as shipping</option>
					<option {% ifequal local_pickup "pickup" %} selected="selected" {% endifequal %} value="pickup">Only allow local pickup</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Condition</td>
			<td>
				<select name="condition">
					<option {% ifequal condition 0 %} selected="selected" {% endifequal %}>New; Unopen unused</option>
					<option {% ifequal condition 1 %} selected="selected" {% endifequal %}>Used; still in perfect condition</option>
					<option {% ifequal condition 2 %} selected="selected" {% endifequal %}>Used; has some wear</option>
					<option {% ifequal condition 3 %} selected="selected" {% endifequal %}>Old; still good as new</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Days Listed</td><td><input type="text" name="days_listed" value="{{days_listed}}"/></td>
		</tr>
		<tr>
			<td>
				Estimated time to ship or <br>
				if you selected "only allow local pickup"<br>
				the amount of time you will keep<br>
			       	the item on hold till the buyer picks it up.
			</td>
			<td><input type="text" name="shipdays" value="{{shipdays}}"/></td>
		</tr>
		<tr>
			<td><br>Item Image</td><td><br><input type="file" name="img"/></td>
		</tr>
		<tr>
			<td><button type="submit">List</button></td>
		</tr>
	</table>
	<div class="error">{{error}}</div>
	<div class="error">{{value_error}}</div>
</form>

{% endblock %}
