{% extends "base_homepage.html" %}

{% block content %}

<div class="error">{{error}}</div>

<form method="post" enctype="multipart/form-data">
	<table>
		{% if not item.num_bids %}
		<tr>
			<td>Title</td>
			<td><input type="text" name="title" value="{{title}}"/></td>
			<td><div class="error">{{t_error}}</div></td>
		</tr>
		<tr>
			<td>Description</td>
			<td><textarea name="description" wrap="hard">{{description}}</textarea></td>
			<td><div class="error">{{d_error}}</div></td>
		</tr>
		<tr>
			<td>Start Price</td>
			<td>$<input type="text" name="price" value="{{price|dollars}}"/></td>
			<td><div class="error">{{p_error}}</div></td>
		</tr>
		<tr>
			<td>Shipping Price</td>
			<td>$<input type="text" name="shipprice" value="{{shipprice}}"/></td>
			<td><div class="error">{{s_error}}</div></td>
		</tr>
		<tr>
			<td>Local Pickup Option</td>
			<td><input type="checkbox" name="localpickup" value="on" {{localpickup}}/></td>
		</tr>
		{% endif %}
		<tr>
			<td>Image</td>
			<td><input type="file" name="image"/></td>
		</tr>
		<tr>
			<td><button type="submit">Update</button></td>
			<td><button name="delete" onclick="delete_item({{item.num_bids}}, {{item.key.id}})" value="delete">Delete Item</button></td>
		</tr>
	</table>
</form>

{% endblock %}
