{% extends "base_homepage.html" %}

{% block head %}
<head>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> <!-- get jquery -->
	<script type="text/javascript">
		$(document).ready(function() {
			$(".receivers-tab").mouseenter(function() {
				var id = $(this).attr('id');
				$("#"+id+" .receivers").slideDown("fast");
				$("#"+id+" .r-fill").remove();
			});
			$(".receivers-tab").mouseleave(function() {
				var id = $(this).attr('id');
				$("#"+id+" .receivers").slideUp("fast");
				var s = '<span class="r-fill" id="' + id + '">Multiple</span>';
				$(this).append(s);
			});
			$("#content-input").focusin(function() {
				$("#markup-help").fadeIn("slow");
			});
			$("#content-input").focusout(function() {
				$("#markup-help").fadeOut("slow");
			});

			$(".deleteButton").click(function() {
				var id = $(this).attr('id');
				$("div."+id).slideUp("fast");
				$.ajax({type: "post",
					url: "/message",
					data: {"delete_mes": id}});
			});
		});

		function reply(receiver) {
			$("#receiver-field").val(receiver);
		}
	</script>
</head>
{% endblock %}

{% block content %}
<br>
<br>
<form action="{{upload_url}}" method="post" enctype="multipart/form-data">
	From: {{user.name}}&nbsp;&nbsp;&nbsp;&nbsp;{% if user.name == "Mondays" %}Send to all users: <input type="checkbox" name="all"/> {% endif %}
	<label>To
		<input id="receiver-field" type="text" name="receiver" value="{{receiver}}"/>
	</label><span style="margin-left: 20px; font-size: 15px;">To send to multiple people separate names with spaces</span>
	<br>
	<div class="message-field-wrapper">
		<div class="pull-left">
			<label>Content<br>
				<textarea id="content-input" name="body" wrap="hard" cols=50 rows=15>{{body}}</textarea></label>
			<br>
                        Add Image: <input type="file" name="image" />
			<button type="submit">Send</button>
		</div>
		<div class="balloon pull-left" id="markup-help">Mondays uses Markdown for message formatting:
			<ul>
				<li>**<b>bold</b>**</li>
				<li>_<i>italics</i>_</li>
                                <li>To see everything you can do with markdown, click <a href="http://daringfireball.net/projects/markdown/syntax" target="blank">here</a></li>
			</ul>
		</div>
	</div>
</form>	
<div class="success">{{success}}</div>
<div class="error">{{error}}</div>
<a name="messages"></a>
<div class="balloon">
	<div id="inbox">
		Message Box:
		<br><a href="/message"><button type="button">Refresh</button></a>
		<div class="message-table">
			{% if usermessages|length > 1 %}
			<div><span><button onClick="delete_allmsgs()">Delete All</button></span></div>
			{% endif %}
			{% for message in usermessages %}
				<div>
					<div class="{{message.key.id()}} {% if message.sender != user.name %}received-message{% else %}sent-message{% endif %} message">
						<span {% if not message.receiver|length == 1 and message.sender == user.name %}
                                                        class="receivers-tab contact-tab" id="{{message.key.id()}}"{% else %}class="contact-tab"{% endif %}>
							{% if user.name == message.sender %}<span id="to">To:</span>
								{% if message.receiver|length == 1 %}
									{{user_link(message.receiver[0])}}
								{% else %}
									<span class="r-fill" id="{{message.key.id()}}">Multiple</span>
									<div class="receivers" id="{{message.key.id()}}">
										<ul>
											{% for name in message.receiver %}<li>{{user_link(name)}}</li>{% endfor %}
										</ul>
									</div>
								{% endif %}
							{% else %}{{user_link(message.sender)}}:
							{% endif %}
						</span>
                                                <span class="content-cell">
                                                    <pre class="message-content">{{message.content}}{% if message.image_url %}<br><a href="{{message.image_url}}"><img class="msg-image" src="{{message.image_url}}" width="200px" /></a>{% endif %}</pre></span>
                                                               
						{% if user.name != message.sender %}
						<span class="replyButton" onclick="reply('{{message.sender}}')"><img src="/static/images/reply_icon.png" alt="relpy icon"></span>
						{% endif %}
						<span class="deleteButton" id="{{message.key.id()}}"><img src="/static/images/delete_icon.png" alt="delete icon"></span>
						<div class="message_time">{{message.sent_str}}</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if usermessages|length > 1 %}
		<button onClick="delete_allmsgs()">Delete All</button>
		{% endif %}
	</div>
</div>

{% endblock %}
