{% extends "base_homepage.html" %}

{% block content %}

<h2 align="center">{{pageuser.name}}</h2>

<br>
<b>{{pageuser.first_name}} {{pageuser.last_name}}</b>
<br>

{% ifequal user.name pageuser.name %}

<b>Email:</b> {{user.email}}
<br>
<br>
<b>Address:</b>
<br>
{{user.address}}
<br>
<a href="/edit_user/{{user.key.id}}">Edit</a>

<h3 align="center">History</h3>
<br>
<br>
<b>Money Spent:</b> {{history|getkey:"money spent"}}
<br>
<b>Money Earned: </b>{{history|getkey:"money earned"}}
<br>
<b>Balance:</b> {% balance history %}
<br>
<b>Number of items sold:</b> {{history|getkey:"number of items sold"}}
<br>
<b>Number of items listed that didn't get sold:</b> {{history|getkey:"number of items not sold"}}
<br>
<b>Number of messages sent:</b> {{history|getkey:"number of messages sent"}}
<br>
<b>Number of messages received:</b> {{history|getkey:"number of messages received"}}


{% endifequal %}
<br>
<a href="/message?receiver={{pageuser.name}}">Send this user a message</a>

{% endblock %}

