{% extends "base_homepage.html" %}

{% block content %}
<ul id="notifications">
	{% for n in notifs %}
	<li {% if not n.read %}style="color: red"{% endif %}>
		 {{n.content}}&nbsp;&nbsp;&nbsp;{{n.sent|mdtime}}
	</li>
	{% endfor %}
	<li><a href="/notifications">See All Notifications</a></li>
</ul>
<span>View<a href="/user/{{user.name}}"> Your Profile</a></span>
<br>

<ul id="useritems">
{% if useritems|length > 0 %}
	<li>Your Items:</li>
	{% for item in useritems %}
	<li>
		<div id="watch-item"><a href="/item/{{item.key.id()}}">{{item.title}}</a><br>
			${{item.get_price()|dollars}} - {% if item.list_option != "instant" %}{{item.num_bids}} bids{% else %}Instant Buy{% endif %}
			{% if item.current_buyer %}<br>Buyer: {{user_link(item.current_buyer)}}{% endif %}
			<div class="cell-image"><a href="/item/{{item.key.id()}}"><img src="/img/{{item.key.id()}}" width="100px" /></a></div>
		</div>
	</li>
	{% endfor %}
{% else %}
	<li><b>You do not have any items for sell.</b></li>
{% endif %}
	<li><hr></li>
{% if watch_list|length > 0 %}
	<li>Items you are watching:</li>
	{% for item in watch_list %}
	<li>
		<div class="watch-item"><a href="/item/{{item.key.id()}}">{{item.title}}</a><br>
			${{item.get_price()|dollars}} - {% if item.list_option != "instant" %}{{item.num_bids}} bids{% else %}Instant Buy{% endif %}
			{% if item.expired %} - <span style="color: red;">EXPIRED</span>{% endif %}
			{% if item.list_option == "both" %}<br>${{item.instant_price|dollars}} Instant Buy{% endif %}
			<br>Seller: {{user_link(item.seller)}}
			<div class="cell-image"<a href="/item/{{item.key.id()}}"><img src="/img/{{item.key.id()}}" width="100px" /></a></div>
		</div>
	</li>
	{% endfor %}
{% else %}
	<li><b>You are not watching any items.</b></li>
{% endif %}
</ul>
{% endblock %}
